<!DOCTYPE html>
<html>
<head>
  <title>Otakon</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- <a href="new_admin_registration_path">Sign up</a>
  <a href="destroy_admin_session_path">Sign out</a> -->

  <!-- Begin Devise -->
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <!-- End Devise -->

  <%= yield %>

</body>
</html>
