<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Otakon</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <!-- nav bar begins -->
    <div class="fixed" id="top-nav-bar">
    <nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large">
    <ul class="title-area">
      <li class="name" id="otakon">
      <h1><a href="#"><%= link_to 'Otakon', root_path %></a></h1>
      </li>
       <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Left Nav Section -->
      <ul class="left">
        <li class="divider"></li>
        <li class="has-dropdown">
          <a href="/welcome/about">About</a> 
          <ul class="dropdown">
            <li><a href="/welcome/about" id="mission">Mission Statement</a></li>
            <li><a href="/welcome/about" id="mascots">Mascots</a></li>
            <li><a href="/welcome/about" id="history">History</a></li>
            <li><a href="/welcome/about" id="downloads">Downloads</a></li>
            <li><a href="/welcome/about" id="otakon-go">Otakon on the Go!</a></li>
            <li><a href="/welcome/about" id="private-policy">Private Policy</a></li>
          </ul>
        </li>
        <li class="divider"></li>
        <li class="has-dropdown">
          <a href="/welcome/directions">Directions</a>
          <ul class="dropdown">
            <li><a href="/welcome/directions">Location</a></li>
            <li><a href="/welcome/directions">Hotels</a></li>
          </ul>
        </li>
        <li class="divider"></li>
        <li class="has-dropdown">
          <a href="/welcome/convention_info">Convention Info</a>
          <ul class="dropdown">
            <li><a href="/welcome/convention_info" id="tickets">Tickets</a></li>
            <li><a href="/welcome/convention_info" id="hours">Hours of Operation</a></li>
            <li><a href="/welcome/convention_info" id="guest">Guest</a></li>
            <li><a href="/welcome/convention_info" id="info">Convention Policies</a></li>
            <li><a href="/welcome/convention_info" id="special-needs">Special Needs</a></li>
            <li><a href="/welcome/convention_info" id="newbies">Newbies guide</a></li>
            <li><a href="/welcome/convention_info" id="info-desk">Virtual Info Desk</a></li>
            <li><a href="/welcome/convention_info" id="lost">Lost and Found</a></li>
            <li><a href="/welcome/convention_info" id="help">Help</a></li>
          </ul>
        </li>
        <li class="divider"></li>
        <li class="has-dropdown">
          <a href="/welcome/community">Community</a>
          <ul class="dropdown">
            <li><a href="/welcome/community" id="clubs">Clubs</a></li>
            <li><a href="/welcome/community" id="bulletin">Bulletin Board</a></li>
            <li><a href="/welcome/community" id="cosplay">Cosplay Coordination</a></li>
            <li><a href="/welcome/community" id="fan-art">Fan Art Showcase</a></li>
            <li><a href="/welcome/community" id="fan-reports">Fan reports and pictures</a></li>
            <li><a href="/welcome/community" id="social-media">Social Media</a></li>
          </ul>
        </li>
        <li class="divider"></li>
        <li><a href="/welcome/join" id="join">Join Our Team!</a></li>
        <li class="divider"></li>
        <li><a href="http://www.otakonvegas.com/default.asp" id="otakon-vegas">Otakon Vegas</a></li>
        <li class="divider"></li>
      </ul>
      <!-- Right Nav Section -->
      <ul class="right">
        <li class="divider"></li>
        <li>
          <!-- Begin Devise -->
          <% if admin_signed_in? %>
          Logged in as <strong><%= current_admin.email %></strong>
          <li><%= link_to 'Edit profile', edit_admin_registration_path, :class => 'navbar-link' %> </li>
          <li><%= link_to "Logout", destroy_admin_session_path, method: :delete, :class => 'navbar-link'  %></li>
          <% else %>
          <%= link_to "Admin Login", new_admin_session_path, :class => 'navbar-link'  %>
          <% end %>
          <!-- End Devise -->
        </li>
      </ul>
    </section>
    </nav>
  </div>

    <!-- nav bar ends -->
    <div class="row">
      <div class="large-12 columns">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>
    </div>
    <%= yield %>

    <!-- bottom nav bar begins -->
    <div id="footer" >
      <nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large" >

        <section class="top-bar-section">
          <!-- Left Nav Section -->
          <ul class="left">
            <li><a href="#" id="copyrights">Copyrights to Otakon</a></li>
            <li class="divider"></li>
            <li><a href="/welcome/contact" id="contact">Contact</a></li>
            <li class="divider"></li>
          </ul>

          <!-- Center Nav Section -->
          <ul class="text-center" id="top">
            <li><a href="#">Top of Page</a></li>
            <li class="divider"></li>
          </ul>

          <!-- Right Nav Section -->
          <ul class="right">
            <li class="divider"></li>
            <li><a href="https://twitter.com/Otakon" id="twitter-id" ><i class="fi-social-twitter"></i></a></li>
            <li class="divider"></li>
            <li ><a href="https://www.facebook.com/Otakon" id="facebook"><i class="fi-social-facebook"></i></a></li>
            <li class="divider"></li>
            <li ><a href="http://www.pinterest.com/otakon/" id="pinterest"><i class="fi-social-pinterest"></i></a></li>
            <li class="divider"></li>
            <li ><a href="http://otakon.tumblr.com/" id="tumblr"><i class="fi-social-tumblr"></i></a></li>
            <li class="divider"></li>
            <li ><a href="https://foursquare.com/otakon" id="foursquare"><i class="fi-social-foursquare"></i></a></li>
          </ul> 
        </section>
      </nav>
    </div>
    <!-- bottom nav bar ends -->

    <%= javascript_include_tag "application" %>
  </body>

</html>